<section class="home-title-page">
    <h1 class="home-title">Bloc Chat</h1>
    <p class="home-tag">Chat Your Heart Out!</p>
</section>
 
<aside class="sidenav-chatrooms">
    <div class="chat-room-header">
        <p class="chat-title">Chat Rooms</p>
        <button type="button" class="btn btn-primary" ng-click="home.createRoom()">New Chat Room</button>
    </div>
    <div class="chat-rooms" ng-repeat="room in home.chatRooms" ng-click="home.setCurrentRoom(room)">
        <h5>{{ room.name }}</h5>
    </div>
</aside>
<section class="room-main-view" ng-show="currentRoom">
    <h3 class="main-view-title"> {{ currentRoom.name }}</h3>
    <div class="msg-item" ng-repeat="msg in home.messages" ng-class-odd="'msg-item-odd'">
        <h6> {{ msg.username }} </h6>
        <p> {{ msg.content }} </p>
    </div>
    <div class="new-msg-box">
        <input type="text" placeholder="Write Your Message Here..." class="form-control-2" ng-model="home.newMessage">
        <button class="btn btn-primary" type="button" ng-click="home.sendMessage(home.newMessage)">Send</button>
        
    </div>
</section>